extends: default

ignore: |
  .git/
  .github/
  tests/
  ansible/roles/*/templates/*.j2

rules:
  line-length:
    max: 220
    level: warning
  document-start: disable
  truthy:
    level: error
  indentation:
    spaces: 2
    indent-sequences: true
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
