# Atomik dynamic kernel performance parameters
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX \
  audit=0 \
  audit_backlog_limit=0 \
  nowatchdog \
  nmi_watchdog=0 \
  panic=10 \
{% if 'GenuineIntel' in (ansible_facts['processor'] | string) %}
  intel_pstate=active \
{% elif 'AuthenticAMD' in (ansible_facts['processor'] | string) %}
  amd_pstate=active \
{% endif %}
  pcie_aspm=powersave"
