{% if 'amdgpu' in atomik_gpu_drivers | default([atomik_gpu_module]) %}
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX \
  amdgpu.sched_jobs=4096 \
  amdgpu.gpu_recovery=1 \
  amdgpu.ras=0 \
  amdgpu.dc=1 \
  amdgpu.num_kernel_fence_wait=1"
{% endif %}
{% if 'nvidia' in atomik_gpu_drivers | default([atomik_gpu_module]) %}
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX \
  nvidia_drm.modeset=1 \
  nvidia_drm.fbdev=1 \
  nvidia.NVreg_UsePageAttributeTable=1 \
  nvidia.NVreg_EnableStreamMemOPs=1 \
  nvidia.NVreg_InitializeSystemMemoryAllocations=0"
{% endif %}
{% if 'i915' in atomik_gpu_drivers | default([atomik_gpu_module]) %}
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX \
  i915.enable_psr=0 \
  i915.enable_fbc=1 \
  i915.fastboot=1"
{% endif %}
{% if 'xe' in atomik_gpu_drivers | default([atomik_gpu_module]) %}
GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX \
  xe.enable_psr=0"
{% endif %}
