<?xml version="1.0"?>
<ThermalConfiguration>
  <Platform>
    <Name>Atomik Balanced</Name>
    <ProductName>*</ProductName>
    <ThermalZones>
      <ThermalZone>
        <Type>cpu</Type>
        <TripPoints>
          <TripPoint>
            <SensorType>{{ atomik_thermal_sensor | default('x86_pkg_temp') }}</SensorType>
            <Temperature>{{ atomik_temp_passive | default(90000) }}</Temperature>
            <type>passive</type>
            <CoolingDevice>
              <index>1</index>
              <type>rapl_controller</type>
              <influence>50</influence>
              <SamplingPeriod>4</SamplingPeriod>
            </CoolingDevice>
          </TripPoint>
          <TripPoint>
            <SensorType>{{ atomik_thermal_sensor | default('x86_pkg_temp') }}</SensorType>
            <Temperature>{{ atomik_temp_hot | default(97000) }}</Temperature>
            <type>hot</type>
            <CoolingDevice>
              <index>1</index>
              <type>rapl_controller</type>
              <influence>85</influence>
              <SamplingPeriod>2</SamplingPeriod>
            </CoolingDevice>
          </TripPoint>
          <TripPoint>
            <SensorType>{{ atomik_thermal_sensor | default('x86_pkg_temp') }}</SensorType>
            <Temperature>{{ atomik_temp_critical | default(100000) }}</Temperature>
            <type>critical</type>
            <CoolingDevice>
              <index>1</index>
              <type>rapl_controller</type>
              <influence>100</influence>
              <SamplingPeriod>1</SamplingPeriod>
            </CoolingDevice>
          </TripPoint>
        </TripPoints>
      </ThermalZone>
    </ThermalZones>
  </Platform>
</ThermalConfiguration>
