[main]
include=desktop

[cpu]
governor=performance
energy_performance_preference=performance
boost=1
max_perf_pct=100
min_perf_pct=100
force_latency=1

[kernel]
nmi_watchdog=0
sched_autogroup=0

[vm]
transparent_hugepages=always
transparent_hugepages_defrag=never

[audio]
timeout=0
alsa_buffer_size=32
alsa_period_size=128

[scheduler]
runtime=0
nr_rqs=1024
sched_migration_cost_ns=250000
sched_min_granularity_ns=1500000
sched_wakeup_granularity_ns=2000000
perf_cpu_time_max_percent=0

[sysctl]
kernel.timer_migration=0
vm.zone_reclaim_mode=0
vm.dirty_ratio=3
vm.dirty_background_ratio=1
vm.vfs_cache_pressure=100
vm.swappiness=1
kernel.sched_latency_ns=4000000
kernel.sched_migration_cost_ns=250000
kernel.sched_min_granularity_ns=1500000
kernel.sched_wakeup_granularity_ns=2000000
vm.compaction_proactiveness=0
vm.page_lock_unfairness=1
kernel.numa_balancing=0
vm.watermark_boost_factor=0
vm.watermark_low_factor=200

[service]
service.stopped=abrtd,abrt-journal-core,cups,geoclue,ModemManager,packagekit
