[defaults]
inventory = inventories/localhost/hosts.yml
roles_path = roles
retry_files_enabled = false
stdout_callback = unixy
inject_facts_as_vars = false

[privilege_escalation]
become = true
become_method = sudo
become_user = root
